@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1><i>welcome...</i> to the Joel Hilton Film Collection Website!!!</h1>
<img src="~/img/JoelHiltonHeadshot.jpg" />
<p>Oh hi! I didn't see you there. My name is Joel Hilton, and I'm thrilled your here to help me catalog more movies!'</p>
