@{
    ViewData["Title"] = "My Podcasts";
}

<h2>Need a new podcast?</h2>
<h4><i><b>look no further</b></i></h4>
<p>Introducing BaconSale! Your newest podcast obsession! Check it out here:</p>
<a href="https://baconsale.com/" target="_blank">baconsale.com</a>